<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body class="container">


<main>
  <div class="jumbotron">
    <h1>This is Parth</h1>
    <p>Welcome to Learning Javascript using EJS with <a href="https://javascript.info/" target="_blank">javascript.info</a></p>
    
  </div>
  <script>


let a = 2 + 2;

switch (a) {
  case 3: 
  alert(' to small ');
  
  case 4:
  alert(' Exactly! ');
  
  case 5:
    alert(' Too big ');
 
    default:
      alert(" I don't know such values ");
}






</script>
</main>


</body>
</html>

