<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body class="container">


<main>
  <div class="jumbotron">
    <h1>This is great</h1>
    <p>Welcome to templating using EJS</p>
    
  </div>
  <script>


// Increment ++ increases a variable by 1:

let counter1 = 2;
counter1++;        // works the same as counter = counter + 1, but is shorter
alert( counter1 ); // 3


// Decrement -- decreases a variable by 1:

let counter = 2;
counter--;        // works the same as counter = counter - 1, but is shorter
alert( counter ); // 1



</script>
</main>


</body>
</html>

