<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body class="container">


<main>
  <div class="jumbotron">
    <h1>This is Parth</h1>
    <p>Welcome to Learning Javascript using EJS with <a href="https://javascript.info/" target="_blank">javascript.info</a></p>
    
  </div>
  <script>


// outer variables

let userName = 'Parth';

function showMessage() {

  let userName = "Raju";

  let message = 'Hello, ' + userName;
  alert(message);
}



showMessage(); // Parth

alert( userName );


</script>
</main>


</body>
</html>

