<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body class="container">


<main>
  <div class="jumbotron">
    <h1>This is great</h1>
    <p>Welcome to templating using EJS</p>
    
  </div>
  <script>

    
let age = prompt('How old are you?', 100);

alert(`You are ${age} years old!`); // You are 100 years old!



</script>
</main>


</body>
</html>

