<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body class="container">


<main>
  <div class="jumbotron">
    <h1>This is Parth</h1>
    <p>Welcome to Learning Javascript using EJS with <a href="https://javascript.info/" target="_blank">javascript.info</a></p>
    
  </div>
  <script>



function showMessage() {
  alert( 'Hello everyone!' );
}

showMessage();


</script>
</main>


</body>
</html>

