<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body class="container">


<main>
  <div class="jumbotron">
    <h1>This is great</h1>
    <p>Welcome to templating using EJS</p>
    
  </div>
  <script>

let year = prompt('In which year was ECMAScript-2015 specification published?', '');

if (year == 2015) alert( 'You are right!' );

if (year == 2015) {
  alert( "That's correct!" );
  alert( "You're so smart!" );
}


</script>
</main>


</body>
</html>

