<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body class="container">


<main>
  <div class="jumbotron">
    <h1>This is great</h1>
    <p>Welcome to templating using EJS</p>
    
  </div>
  <script>


let user;

alert(user ?? "Anonymous"); // Anonymous (user is undefined)




</script>
</main>


</body>
</html>

