<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body class="container">


<main>
  <div class="jumbotron">
    <h1>This is Parth</h1>
    <p>Welcome to Learning Javascript using EJS with <a href="https://javascript.info/" target="_blank">javascript.info</a></p>
    
  </div>
  <script>



let a = 10;

switch (a) {
  case 4:
    alert('Right!');
    break;

    case 3:
    case 5:
      alert('Wrong!');
      alert("Why don't you take a math class?");
      break;

      default:alert('The result is strange. Really.');

}





</script>
</main>


</body>
</html>

