<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body class="container">


<main>
  <div class="jumbotron">
    <h1>This is Parth</h1>
    <p>Welcome to Learning Javascript using EJS with <a href="https://javascript.info/" target="_blank">javascript.info</a></p>
    
  </div>
  <script>



let arg = prompt("Enter a value?");

switch (arg) {
  case '0':
  case '1':
    alert('One or zero');
    break;

    case '2':
      alert( 'Two' );
      break;

    case '3':
      alert('Never executes!');
      break;
      

      default:
        alert('An unknown value');

}





</script>
</main>


</body>
</html>

